/// Set font
/// Applies the default design font to the element
/// @param {String} $font - Typography name
/// @param {String} $style - Typography style
@mixin brk-set-font($font, $style: "") {
  @if ($font=="roboto") {
    font-family:
      "#{$font}_#{$style}",
      Helvetica,
      sans-serif;
  }

  @else if($font=="fa") {
    font-family: "#{$font}";
  }

  @else {
    font-family: Helvetica, sans-serif;
  }
}
