@use "../helpers" as hl;

.o-card {
  --card-title-cl: #696868;

  padding: 40px;
  color: var(--card-cl, #6d6c6c);
  background-color: var(--card-bgc, #fff);
  border: solid 1px var(--card-bdc, #f4f4f4);
  border-radius: 30px;
  box-shadow: -1px 20px 40px -13px rgba(0, 0, 0, .29);
}

.o-card__title {
  margin-bottom: hl.size-rem(5px);
  font-size: hl.size-rem(28px);
  font-weight: 500;
  color: var(--card-title-cl);
}

.o-card__text {
  font-size: hl.size-rem(14px);
  line-height: hl.size-em(22px);
}

.o-card__footer {
  margin-top: hl.size-rem(30px);
}

// Variações

.o-card--green {
  --card-bgc: #4ca551;
  --card-bdc: #5da461;
  --card-cl: #fff;
  --card-title-cl: inherit;
}

.o-card--black {
  --card-bgc: #111;
  --card-cl: #bbb;
  --card-title-cl: #fff;;
}
