mixin c-mxHeader(config = {})
  header.c-header
    h1.c-header__title Exemplo de construção
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro quam minus nostrum odio cum aliquam excepturi recusandae, nobis quasi soluta laboriosam omnis cumque adipisci. Similique quasi numquam deserunt ipsum! Officia.