//
// Base
// @author - Luciano Baraúna
// Aqui ficarão as estilizações básicas, a última camada que //// veremos seletores em tags diretamente.
//

@use "../settings" as st;
@use "../helpers" as hl;

:root {
  --gl-font: #{st.$GL-FONT};

  font-size: var(--gl-font);
}

body {
  font-family: "Roboto", sans-serif;
}
