/* Icon family boobam */

@font-face {
  font-family: 'ico-boobam';

  src: url('../fonts/icomoon/fonts/icomoon.ttf');
  src: url('../fonts/icomoon/fonts/icomoon.eot?');
  src: url('../fonts/icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?#ico-boobam') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-boobam {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico-boobam' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-menu3:before {
  content: "\e900";
}
.icon-products:before {
  content: "\e901";
}
.icon-add2:before {
  content: "\e902";
}
.icon-heart2:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-ruler:before {
  content: "\e905";
}
.icon-question:before {
  content: "\e906";
}
.icon-transferenciabancaria:before {
  content: "\e907";
}
.icon-tag:before {
  content: "\e908";
}
.icon-money:before {
  content: "\e909";
}
.icon-dashboard:before {
  content: "\e90a";
}
.icon-porcentagem:before {
  content: "\e90b";
}
.icon-promoter:before {
  content: "\e90c";
}
.icon-share:before {
  content: "\e90d";
}
.icon-arrow-up:before {
  content: "\e90e";
}
.icon-arrow-right:before {
  content: "\e90f";
}
.icon-arrow-left:before {
  content: "\e910";
}
.icon-trophy:before {
  content: "\e911";
}
.icon-smily-face:before {
  content: "\e912";
}
.icon-sad:before {
  content: "\e913";
}
.icon-checked2:before {
  content: "\e914";
}
.icon-shield:before {
  content: "\e915";
}
.icon-transfer:before {
  content: "\e916";
}
.icon-coin:before {
  content: "\e917";
}
.icon-pdf:before {
  content: "\e918";
}
.icon-plusball:before {
  content: "\e919";
}
.icon-link-cart:before {
  content: "\e91a";
}
.icon-printer:before {
  content: "\e91b";
}
.icon-piggybank:before {
  content: "\e91c";
}
.icon-heart:before {
  content: "\e91d";
}
.icon-weddinggift:before {
  content: "\e91e";
}
.icon-bride:before {
  content: "\e91f";
}
.icon-groom:before {
  content: "\e920";
}
.icon-headset:before {
  content: "\e921";
}
.icon-envelope2:before {
  content: "\e922";
}
.icon-close3:before {
  content: "\e923";
}
.icon-filters:before {
  content: "\e924";
}
.icon-gift:before {
  content: "\e925";
}
.icon-vendas:before {
  content: "\e926";
}
.icon-ring:before {
  content: "\e927";
}
.icon-upload:before {
  content: "\e928";
}
.icon-store:before {
  content: "\e929";
}
.icon-send:before {
  content: "\e92a";
}
.icon-barcode:before {
  content: "\e92b";
}
.icon-refresh2:before {
  content: "\e92c";
}
.icon-clips:before {
  content: "\e92d";
}
.icon-angle-down:before {
  content: "\e92e";
}
.icon-angle-left:before {
  content: "\e92f";
}
.icon-angle-right:before {
  content: "\e930";
}
.icon-angle-up:before {
  content: "\e931";
}
.icon-close2:before {
  content: "\e932";
}
.icon-close:before {
  content: "\e933";
}
.icon-carrinho:before {
  content: "\e934";
}
.icon-added:before {
  content: "\e935";
}
.icon-relogio:before {
  content: "\e936";
}
.icon-download:before {
  content: "\e937";
}
.icon-home2:before {
  content: "\e938";
}
.icon-collections:before {
  content: "\e939";
}
.icon-detalhes:before {
  content: "\e93a";
}
.icon-check3:before {
  content: "\e93b";
}
.icon-circle-plus:before {
  content: "\e93c";
}
.icon-truck:before {
  content: "\e93d";
}
.icon-search:before {
  content: "\e93e";
}
.icon-user:before {
  content: "\e93f";
}
.icon-warning:before {
  content: "\e940";
}
.icon-angle-down-circle:before {
  content: "\e941";
}
.icon-angle-up-circle:before {
  content: "\e942";
}
.icon-camera:before {
  content: "\e943";
}
.icon-cart:before {
  content: "\e944";
}
.icon-check:before {
  content: "\e945";
}
.icon-lock:before {
  content: "\e946";
}
.icon-mail-open-file:before {
  content: "\e947";
}
.icon-mail-open:before {
  content: "\e948";
}
.icon-photo:before {
  content: "\e949";
}
.icon-administrativo:before {
  content: "\e94a";
}
.icon-trash:before {
  content: "\e94b";
}
.icon-line-dotted:before {
  content: "\e94c";
}
.icon-arrow11:before {
  content: "\e94d";
}
.icon-bankcard:before {
  content: "\e94e";
}
.icon-powerbutton:before {
  content: "\e94f";
}
.icon-hand-down:before {
  content: "\e950";
}
.icon-hand-up:before {
  content: "\e951";
}
.icon-edit:before {
  content: "\e952";
}
.icon-creditcard:before {
  content: "\e953";
}

.circle-heart-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 50%;
    border: solid #BCBCBC 1px;
    i {
      color: getprops-map($boo-icons, circle-heart, color);
      line-height: 0;
      font-size: 38px;
      @include media-min(992px){
        font-size: 42px;
      }
    }
}