$default-text-color: #59595b;
$white: #fff;
$gray: #FBFBFC;
$black: #000;
$black2: #040404;
$black3: #393939;
$black4: #555;
$black5: #59595c;
$black6: #999999;
$light-blue: #1aa7ec;

$boo-zindex: (
  // menumbAll - Header and Footer z-index menumb
  header: (
    bar: 100,
    menumb: 1,
    menumbAll: 100,
    menumbOpenMain: 100,
  ),
  category: (
    filter: 101,
    bannerText: 2
  ),

);

$boo-media: (
  mediamax: (
    xs: 320px,
    sm: 480px,
    mobi: 991px,
    lg: 767px
  ),
  mediamin: (
    sm: 768px,
    md: 992px,
    lg: 1200px
  )
);

// Map of forms
$boo-forms: (
  group-bgcolor: $white,
  legend-color: #6B6B6B,
  group-bdcolor: $white,
  listcard-border-color: #bebebe,
  tgl: (
    bgcolor: #f0f0f0,
    bgcolor-checked: #24dc82,
    ball-bgcolor: #fff
  ),
  input: (
    bdcolor: #e7e7e7,
    color-active: $black2,
    bdcolor-active: $black2
  )
);

// Map of buttons
$boo-btns: (
  txtcolor: $black,
  bgcolor: $white,
  bdcolor: $black2,
  hover-bgcolor: #fff2b2,
  success: (
    txtcolor: $white,
    bgcolor: #24dc82
  ),
  danger: (
    txtcolor: $white,
    bgcolor: #f3787e
  ),
  blue:(
    txtcolor: $white,
    bgcolor: #363778
  ),
  blue2:(
    txtcolor: $white,
    bgcolor: #189de9
  ),
  facebook:(
    txtcolor: $white,
    bgcolor: #5A75B2
  ),
  twitter:(
    txtcolor: $white,
    bgcolor: #55acee
  )
);

$boo-dropdown:(
  dropmenu-border: #999999
);

// Icons
$boo-icons: (
  circle-heart: (
    bdcolor: #bcbcbc,
    color: #f37a80
  )
);

// Tabs
$boo-tabs: (
  txtcolor: #000,
  bdcolor: #ddd,
  bgcolor: #fbfbfc,
  txtcolor-hover: #ffd400,
  bdcolor-active: #FFF2B2
);

// Badges
$boo-badge: (
  txtcolor:#fff,
  bgcolor:#000,
  new: (
    txtcolor: #020202,
    bgcolor: #fff5b0
  ),
  vintage: (
    txtcolor:#59595c,
    bgcolor:#FFD2D2
  ),
  antiques: (
    txtcolor:#59595c,
    bgcolor:#ffebd2
  ),
  pro: (
    txtcolor: $white,
    bgcolor:#2f306c
  ),
  simple: (
    borderColor: #D8D6D6,
    hover: #F5F5F5,
  )
);

// Tags
$boo-tags: (
  pro:(
    txtcolor: $white,
    bgcolor: #2f306c
  )
);

// Modal
$boo-modal: (
  areaimg: (
    bdcolor: #e6e6e6
  ),
  content: (
    color: #59595C,
    icon-color: #393A77,
    msgsharing-color: #393A77
  )
);

// Sidebar
$boo-sidebar: (
  product-bdcolor: #e6e6e6,
  list: (
    txcolor: rgba(3,3,3,1),
    btn-txcolor: rgba(57,58,119,1)
  ),
);

// Divisor
$line-divisor-color: #E7E6E7;

// Breadcrumble
$breadcrumble-color: #b0b0b1;

// Share
$share-color: #b0b0b1;

// Tootip
$boo-tooltip: (
  bgcolor: #fff2b3,
  textcolor: #000
);

// Msg boobam
$boo-msg:(
  bdcolor: #eee,
  bgcolor: #fff,
  txcolor: #000,
  success: #24dc82,
  danger: #f3787e
);

// Header
$boo-header: (
  bdcolor: #F1F1F1,
  contentbar:(
    height-mb: 65px,
    height-desk: 80px
  ),
  dropdown:(
    bdcolor: #EEEEEE,
    hover: #e1e3e9
  )
);

// Menu mobile
$menumb-bgcolor: #fafafa;
$menumb-link-color-active: #fafafa;
$menumb-link-bgcolcor-active: $black2;
$menumb-link-bdcolor-active: $white;
$menumb-separator-bdcolor: #d5d5d5;

// Footer
$boo-footer:(
  bgcolor: #F9F9F9,
  txtcolor: #59595B,
  bdcolor: #e6e6e6,
  inputbtn-bdcolor: #e7e7e7,
  askform-txtcolor: #A1A1A1
);

// Print page budget
$boo-print: (
  body-color: $black,
  color-link: #14a8ec,
  bdcolor: (
    table-td: #333,
    img: #59595c,
    total: $black
  )
);

// Product
$boo-product: (
  share-color: #B1B1B2,
  button-color: #b0b0b1,
  talkcreator-btn: #B0B0B1,
  original-price: #f3787e,
  carrousel-arrow: #59595B,
  price: (
    color: #59595b,
    color-bold: #393A77,
  ),
  returnedmsg: (
    color: #59595C,
    color-icon: #24dc82
  ),
  list: (
    price: #999999,
    price-red: #ff7676,
    img-bdc: #e6e6e6,
    strong-color: #999999
  )
);

// Login
$boo-login: (
  links-color: #1AA7EC
);

// List box
$boo-listbox: (
  bgcolor: $white,
  bdcolor: #EAEAEA,
  content-txtcolor: #333333,
  product: (
    txtcolor: #59595C,
    txtcolor-destaq: #aaaaab,
    info-bdcolor: #CDCCCC
  )
);

// List box
$boo-prodgrid: (
  storename: #C3C3C3,
  valuepromo: #F3787E,
  hover: (
    textcolor: #ccb02a
  )
);

// Category
$boo-category: (
  price:(
    btnText: '#999999',
    btnBorder: '#e7e7e7'
  ),
  filter:(
    badgeColor: #F5F5F5,
    badgeColorHover: #ffdb39
  )
)
