
//- Index template
extends ../templates/l-global
block content
  header
    p Sou o header
  main.l-container
    h1 Hello world - conteúdo principal
    button.o-btn BOTÃO
  footer
    p Sou o footer