
//- Index template
extends ../templates/global
block content

  include ../molecules/c-mx-card
  include ../organisms/o-mx-header
  include ../organisms/o-mx-footer
  -
    const listCards = [
      {
        variation: 'green',
        btn: {
          tag: 'button',
          text: 'Button'
        }
      },
      {
        variation: null,
        footerAlign: 'center',
        btn: {
          tag: 'a',
          attr: {'href': '#'},
          text: 'Button link',
          variation: 'green'
        }
      },
      {
        variation: 'black',
        btn: {
          tag: 'button',
          text: 'Button'
        },
        footerAlign: 'right' }
    ]

  +o-mxHeader()

  main.l-container
    each itemCard in listCards
      +c-mxCard(itemCard)

  +o-mxFooter()
