
doctype html
head
    link(rel="stylesheet" href="./css/bricklayer.min.css")

body

    include ../organisms/teste.pug
    include ../molecules/teste.pug
    include ../atoms/teste.pug

    h1 funcionando o pug
    div Our simple div
