mixin mx-btn(dataBtn)
  - var typeClass = "";

  case dataBtn.typeButton
    when 'success'
      - typeClass = "btn--success";
    when 'danger'
      - typeClass = "btn--danger";
    default
      - typeClass = "";

  a(
    class=`btn ${typeClass}`
    title=`${dataBtn.title}`
    href=`${dataBtn.url}`
  )= dataBtn.text