// Template global
.wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 500px;
  height: 100%;
}